* {
    margin: 0;
    padding: 0;
}
#picSet {
    border: 5px solid blue;
    width: 1440px;
    height: 540px;
    position: relative;
    /* overflow: hidden; */
    margin: 0 auto;
    overflow: hidden;
}
#picSet img {
    border: 3px solid red;
    position: absolute;
    top: 0;
    transition: left 1s;
}
/* #picSet #pic1 {left: 0;}
#picSet #pic2 {left: 1440;}
#picSet #pic3 {left: 2880;} */