* {margin: 0; padding: 0; text-align: center;}
body {
    background-color: rgb(57, 0, 0);
}
#section1 #ImgSet {position: relative; width: 1440px; margin: 0 auto;}
#section1 #ImgSet button {width: 80px; height: 60px; border-radius: 10%; 
    position: absolute; top: 50%; margin-top: -50px; cursor: pointer; background-color: black; color: red;}
#section1 #ImgSet button:hover {background-color: rgb(255, 0, 0); color: rgb(0, 0, 0);}
#section1 #ImgSet #prev_btn {left: -120px;}
#section1 #ImgSet #next_btn {right: -120px;}
#section1 #ImgSet button.disabled {cursor: auto; opacity: 0;}
 
#section1 #ImgSet #picSet {width: 1440px; height: 540px; position: relative; margin: 0 auto; overflow: hidden;}
#section1 #ImgSet #picSet img {position: absolute; top: 0; transition: left 1s;}
 
#section1 #ImgSet #dotList {margin-top: 20px;}
#section1 #ImgSet #dotList li {display: inline-block; width: 20px; height: 20px; background-color: black; color: white; border-radius: 20%; cursor: pointer; margin: 0 15px;}
#section1 #ImgSet #dotList li:hover {background-color: rgb(0, 0, 0);}
#section1 #ImgSet #dotList li.active {background-color: rgb(255, 0, 0);}
 
 
#section1 #ImgSet dl {position: absolute; z-index: 1; bottom:-100px; left: 0; background-color: rgba(0,0,0,0.5); color: white; width: 97%; transition: all 1s; padding: 20px;}
#section1 #ImgSet dl.active {animation: textMotionIn forwards 1s}
#picSet dl.activeOut {animation: textMotionOut forwards 1s;}
 
@keyframes textMotionIn {
    from {bottom:-100px; opacity: 0; background-color: black;}
    to {bottom:0; opacity: 1; background-color: black;}
}
@keyframes textMotionOut {
    from {bottom:0; opacity: 1; background-color: black;}
    to {bottom: 20px; opacity: 0; background-color: black;}
}
